{% load humanize %}
<div class="col-4">
    <div class="card">
        
        {% if i.image %}
            <img src="{{i.image.url}}" height="250" class="card-img-top" alt="...">  
        {% else %}
            <p>Resim Yok</p>
        {% endif %}
            
        
        <div class="card-body">
          <a href="{% url 'profile' i.owner.profile.id %}">Yazar : {{i.owner.username}}</a>
          <h5 class="card-title">{{i.title}}</h5>
          <small>{{i.kategori.name}}</small>
          <br>
          
          {% for j in i.alt.all %}
          <small>{{j.name}}</small>
          {% endfor %}
            
          <p class="card-text">{{i.content}}</p>
          <small class="text-capitalize">{{i.created_at|naturalday}}</small>
          <small>Görüntülenme : ({{i.view.all.count}})</small>
          <br>
          <a href="{{i.get_absolute_url}}" class="btn btn-primary">Go somewhere</a>
          <form class="d-inline-block" method="POST">
            {% csrf_token %}
            <input type="hidden" name="blogId" value="{{i.id}}">
            <input type="submit" name="like" value="Like ({{i.like.all.count}})"
            
            {% if request.user.profile in i.like.all %}
            class="btn btn-success"
            {% else %}
            class="btn btn-primary"
            {% endif %}
             >
            <input type="submit" name="dislike" value="Dislike ({{i.dislike.all.count}})" 
            
            {% if request.user.profile in i.dislike.all %}
            class="btn btn-secondary"
            {% else %}
            class="btn btn-danger"
            {% endif %}
              
            >
          </form>
          <!-- <a href="/blog-detail/{{i.slug}}" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
</div>