{% extends 'index.html' %}
{% load static %}



{% block title %}
    <title>Post Oluştur</title>
{% endblock title %}
    

{% block content %}
<style>
    .helptext ul {
        padding: 0;
        list-style: none;
    }
    .errorlist{
        padding: 0;
        list-style: none;
        color: red;
        font-weight: bold;
    }
    
</style>
    <form method="POST" enctype="multipart/form-data" class="w-50 m-auto border p-4">
        {% csrf_token %} 
        {{form}}
        <input type="submit" value="Oluştur" class="btn btn-primary mt-2">
    </form>
{% endblock content %}
    