{% extends 'index.html' %}
{% load static %}



{% block title %}
    <title>Giriş Yap</title>
{% endblock title %}
    

{% block content %}

    <form method="POST" class="w-50 m-auto border p-4">
        {% csrf_token %} 
        <label for="">Mevcut Şifreniz</label>
        <input type="password" name="old" id="" class="form-control">

        <label for="">Yeni Şifre</label>
        <input type="password" name="new" id="" class="form-control">

        <label for="">Yeni Şifrenizi Onaylayınız</label>
        <input type="password" name="new2" id="" class="form-control">

        <input type="submit" value="Giriş Yap" class="btn btn-primary mt-2">
    </form>
{% endblock content %}
    